{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= {% static "css/app.css" %}/>

    {% block title %}

    {% endblock title %}
</head>
<body>
<header>
    <nav>
        
        <form method="POST" action = {% url "search_results" %} >
            {% csrf_token %}
            {{ form.as_p }}
          <input type="search" placeholder="Search for a player" name="test">
          
        </form>
    </nav>
</header>


    {% block content %}


    {% endblock content %}
</body>
</html>